/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    @media only screen and (min-width: 960px) {
        
    }


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container{
            width: 100%;
        }
    }
        

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container{
            width: 85%;
            margin: 0 auto;
        }

        .container-wide {
            position: relative;
            width: 100%;
            margin: auto;
        }

        #line {
            margin: 0;
            height: 150px;
            left: 36px;
            width: 20px;
        }

        .desc {
            width: 100%;
            font-size: 1em;
        }

        .title {
            font-size: 2.4em;
            padding-bottom: 8px;
        }

        #intro {
            margin: 0;
        }

        button {
            left: 12px;
            position: absolute;
        }

        .feed-card {
            display: block;
            float: left;
            background-color: #fcfcfc;
            width: 100%;
            margin: 0 3% 8% 0;
            box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.10);
            border-radius: 4px;
            border-style: solid;
            border-width: 1px;
            border-color: rgba(0,0,0,0.05);
        }

        .feed-card-body {
            box-shadow: 0px 1px 1px #f7f7f7;
        }


        .album-name {
            font-size: 1.15em;
        }

        .artist-name {
            font-size: 1.05em;
        }
        iframe {
            width: 100%;
        }
    }


/* #Mobile (6s+)
================================================== */

    @media only screen and (min-width: 414px) and (max-width: 737px){
         .container{
            width: 85%;
            margin: auto;
            margin-bottom: 100px;
        }
        .desc {
            width: 100%;
            font-size: 1.1em;
        }

    }


/* #Mobile (320s)
================================================== */

    @media only screen and (max-width: 320px){
         .container{
            width: 85%;
            margin: auto;
            margin-bottom: 100px;

        }
        .title {
            font-size: 2.2em;
            padding-bottom: 6px;
        }

        .desc {
            width: 100%;
            font-size: .9em;
        }
        button {
            width: 91%;
        }

        #line {
            margin: 0;
            height: 150px;
            left: 36px;
            width: 20px;
        }

    }